body{
    background-image: url(bg-intro-desktop.png);
    box-sizing: border-box;
    padding:0;
    margin:0;
    background-attachment: scroll;
    background-color: hsl(0, 100%, 74%) ;
    color:white;
    font-family:poppins;
    height: 100vh;
    width:100vw;
}
section{
    display:flex;
    margin:0 10%
}

#first{
      margin: 10% 5% 0 0;
    height: 60%;
    display:flex;
    flex-direction: column;
    padding:2%;
    width:45%;
    height:100%;
}
#first h1{
    width:70%;

}
#first p{
    width:75%;
    height:40%;

}
#second{
    width:45%;
        display:flex;
    flex-direction: column;
        height:70%;
           margin:5%;
}
#second h3{
    height:3em;
    background-color:  hsl(248, 32%, 49%);
    padding:1%;
    font-size: small;
    width: 90%;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    
}
#second form { 
    background-color:  white;
      font-size: small;
    width: 91%;
    color:  hsl(249, 10%, 26%);
    height:80%;
        border-radius: 10px;
}
a{
    text-decoration: none;
    color:hsl(0, 100%, 74%);
}
input{
    margin:5%;
    width:85%;
      height:2em;
          border-radius: 10px;
          border: 2px solid hsl(0, 100%, 74%);
          color: hsl(0, 100%, 74%);
              transition-duration: 1s;
    transition-property: all;
}
button{
    margin:5%;
    width:89%;
    background-color: hsl(154, 59%, 51%);
    color:white;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height:2em;
    transition-duration: 1s;
    transition-property: all;
}
button:hover{
      background-color: hsl(153, 85%, 8%);
}
button:active{
      transform: translate(-12px, 30px);
      -webkit-transform: translate(-12px, 30px);
      -moz-transform: translate(-12px, 30px);
      -ms-transform: translate(-12px, 30px);
      -o-transform: translate(-12px, 30px);
}
input:focus{
      transform: scale(1.07);
      -webkit-transform: scale(1.07);
      -moz-transform: scale(1.07);
      -ms-transform: scale(1.07);
      -o-transform: scale(1.07);
      border: 2px solid hsl(153, 85%, 8%);
      color:hsl(153, 85%, 8%);
      text-align: center;
}
input:hover{
         transform: translate(3px, 3px);
         -webkit-transform: translate(3px, 3px);
         -moz-transform: translate(3px, 3px);
         -ms-transform: translate(3px, 3px);
         -o-transform: translate(3px, 3px);
           border: 2px solid hsl(153, 85%, 8%);
             color:hsl(153, 85%, 8%);
}
form p{
    margin:5%;
    width:89%;
    font-size: x-small;
    text-align: center;
}
/* First breakpoint */
@media (max-width:800px){
    body{
        font-size: small;
    }
       #first, #second {
        width: 100%;
        height: 45%;
        margin:5%;
    }
    #first{
        margin-top: 15%;
    }
    #first p{
        font-size: x-small;
    }
    #second h3{
     /* color:red; */
     font-size: xx-small;
    }
    form button{
        font-size: x-small;
    }
     form p{
        font-size: xx-small;
     }
}

/* second breakpoint */
@media (max-width:375px){
    body{
          background-image: url(bg-intro-mobile.png);
    }
    section{
        flex-direction: column;
        margin:10 20%;
    }
    #first, #second {
        width: 100%;
        height: 45%;
        margin:5%;
    }
    #first h1{
        width:80%;
        padding-left: 1.7em;

    }
      #first p{
        width:90%;
        text-align: center;

    }
}
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Red: hsl(0, 100%, 74%) 
- Green: hsl(154, 59%, 51%)

### Accent

- Blue: hsl(248, 32%, 49%)

### Neutral

- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 500, 600, 700
